name: Build & Deploy Next.js - nextjs2

on:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: 'npm'

      - name: Install dependencies and build
        run: |
          npm install
          npm run build

      - name: Prepare artifact
        run: |
          mkdir -p artifact
          cp -R .next public package.json artifact/
      
      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: nextjs-app
          path: artifact/*
          retention-days: 1

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read
    environment: production

    steps:
      - name: Download build artifact to root
        uses: actions/download-artifact@v4
        with:
          name: nextjs-app
          path: .   # flatten artifact

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_A84225315A82426EBB4959F520C4B765 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_1417BD02CA8B4BF3AA6ED4A822A5656B }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_1EC809818F8B48F3A664AA335BEC56C1 }}

      - name: Install production dependencies on Azure
        run: npm install --production
        working-directory: .

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: nextjs2
          slot-name: Production
          package: .
